<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head.ejs') %>
   
</head>
<body>
    
    <%- include('../partials/header.ejs') %>
    
    <div class="container my-4">
        <h1>About Me</h1>
        <h6>I'm Mohammad Asif</h6>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id veniam facere dolore, quo nam assumenda quidem molestiae voluptatum. Sed exercitationem cupiditate porro inventore consectetur itaque temporibus quidem! Maiores, facere? Earum magni provident dolore consequuntur rerum odit non impedit enim eos.</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id veniam facere dolore, quo nam assumenda quidem molestiae voluptatum. Sed exercitationem cupiditate porro inventore consectetur itaque temporibus quidem! Maiores, facere? Earum magni provident dolore consequuntur rerum odit non impedit enim eos.</p>


        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id veniam facere dolore, quo nam assumenda quidem molestiae voluptatum. Sed exercitationem cupiditate porro inventore consectetur itaque temporibus quidem! Maiores, facere? Earum magni provident dolore consequuntur rerum odit non impedit enim eos.</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id veniam facere dolore, quo nam assumenda quidem molestiae voluptatum. Sed exercitationem cupiditate porro inventore consectetur itaque temporibus quidem! Maiores, facere? Earum magni provident dolore consequuntur rerum odit non impedit enim eos.</p>

        
    </div>


    <!-- <%- include('../partials/footer.ejs') %> -->
    
    
    <%- include('../partials/scripts.ejs') %>
</body>
</html>