<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head.ejs') %>
   
</head>
<body>
    
    <%- include('../partials/header.ejs') %>
    
    <div class="container bg-light py-4 my-4 text-center shadow">
        <h1>Welcome To Express JS Tutorial</h1>
    </div>

    <div class="container text-center">
        <a class="btn btn-danger" href="/download">Download File</a>
    </div>


    <!-- <%- include('../partials/footer.ejs') %> -->
    <%- include('../partials/scripts.ejs') %>
    
    
    
</body>
</html>